@{
    ViewData["Title"] = "Öğrenci - Detay";
}
<h1>Öğrenci Detayı</h1>
<p><strong>Ad Soyad:</strong> @ViewBag.Name</p>

<p>
    <a asp-controller="Student" asp-action="List" class="btn btn-outline-danger">Listeye Dön</a>
</p>
